/* Ogólne style dla layoutu aplikacji */
:host {
  display: block;
  height: 100%;
}

/* Możesz dodać kolory brandowe, np.: */
header {
  background: linear-gradient(to right, #2563eb, #1e40af);
}

footer {
  border-top: 1px solid #d1d5db;
}
