<table class="w-full border border-gray-200 rounded-lg overflow-hidden shadow">
  <thead class="bg-gray-50">
    <tr>
      <th class="p-2 text-left cursor-pointer" (click)="changeSort('name')">
        Nazwa tagu
        <span *ngIf="sortBy === 'name'">{{
          order === "asc" ? "⬆️" : "⬇️"
        }}</span>
      </th>
      <th class="p-2 text-left cursor-pointer" (click)="changeSort('count')">
        Liczba
        <span *ngIf="sortBy === 'count'">{{
          order === "asc" ? "⬆️" : "⬇️"
        }}</span>
      </th>
      <th
        class="p-2 text-left cursor-pointer"
        (click)="changeSort('share')"
      >
        Udział [%]
        <span *ngIf="sortBy === 'share'">{{
          order === "asc" ? "⬆️" : "⬇️"
        }}</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of rows" class="border-t hover:bg-gray-50">
      <td class="p-2">{{ t.name }}</td>
      <td class="p-2">{{ t.count }}</td>
      <td class="p-2">{{ t.share | number : "1.2-2" }}%</td>
    </tr>
  </tbody>
</table>
