# Build artifacts
bin/
obj/
out/
Debug/
Release/

# IDE / tool folders
.vs/
.vscode/
*.user
*.suo

# Logs / temp
*.log
*.tmp
*.temp
*.db
*.pdb
*.mdb

# Git
.git/
.gitignore
.gitattributes

# Docker
docker-compose.*
Dockerfile*
.dockerignore

# Other
*.zip
*.7z
*.tar
*.gz
*.tgz
